<div class="card">
  <p-toolbar>
    <ng-template pTemplate="start">
      <p-button icon="pi pi-bars" [outlined]="true" severity="secondary"></p-button>
    </ng-template>
    <ng-template pTemplate="center">
      PrimeNG Demo
    </ng-template>
    <ng-template pTemplate="end">
      <div class="card flex justify-content-center">
        <p-menu #menu [model]="navbar_account_options" [popup]="true"></p-menu>
        <p-button icon="pi pi-user" (click)="menu.toggle($event)" [rounded]="true" severity="secondary" [outlined]="true"></p-button>
      </div>
    </ng-template>
  </p-toolbar>
</div>
<router-outlet></router-outlet>
